.el-icon-github {
    background: url("../../images/home/github.png") center no-repeat;
    background-size: 24px;
    &::before {
        content: "11";
        visibility: hidden;
    }
}
.my-el-image {
    width: 100%;
    height: 100%;
}

.my-el-image .image-slot {
    width: 100%;
    height: 100%;
}
